body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 40px auto;
  border: 6px solid #222; /
  padding: 0;
  box-sizing: border-box;
  background: #3671e0;
}

header {
  border-bottom: 6px solid #222; /
  font-size: 1.2em;
  text-align: center;
}

.middle {
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 400px;
}

.sidebar {
  grid-row: 1 / 4;
  grid-column: 1 / 2;
  border-right: 6px solid #222; /
  padding: 16px;
  background: #0d8abb;
}

.main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-row: 1 / 4;
  grid-column: 2 / 3;
}

.subheader {
  border-bottom: 6px solid #222; /
  padding: 12px;
  background: #1277ca;
}

.content {
  padding: 32px;
  min-height: 200px;
  background: #023475;
}

.subfooter {
  border-top: 6px solid #222; /
  padding: 12px;
  background: #110396;  
}

